rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAllowedAdmin() {
      return request.auth != null && 
             request.auth.token.email_verified == true &&
             request.auth.token.email in [
               'jampanarithesh74@gmail.com',
               'jampanapadmaja7474@gmail.com',
               '25eg112c49@anurag.edu.in',
               'ritheshj899@gmail.com'
             ];
    }

    match /resources/{allPaths=**} {
      // Allow public read access
      allow read: if true;
      allow write: if isAllowedAdmin();
    }

    match /notifications/{allPaths=**} {
      // Allow public read access to uploaded images inside notifications folder
      allow read: if true;
      allow write: if isAllowedAdmin();
    }
  }
}
